<h1>New Conversation</h1>

<%= render 'form', conversation: @conversation %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Back', topic_conversations_path(@topic) %>
  </div>
</div>