<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/">Welcome to our community</a>
    --- <a href="http://www.railstutorial.org/">the Ruby on Rails</a>
  </small>
  <nav> <ul>
    <li><%=link_to"About", '#'%></li>
    <li><%= link_to "Contact", '#' %></li>
  </ul> </nav>
</footer>
